<div class="wrapper">
  <section class="user-information">
    <h2>User Information</h2>
    <form #userDataForm="ngForm" (ngSubmit) = "calculateMacros(userDataForm)" class="user-form">
      <div class="form-control">
        <label for="weight" class="label">Weight</label>
        <input type="number" id="weight" name="weight" ngModel required/>
      </div>

      <div class="form-control">
        <label for="time-frame" class="label">Time Frame</label>
        <input type="number" id="time-frame" name="timeFrame" ngModel />
      </div>

      <div class="form-control">
        <label for="weight-goal" class="label">Goal</label>
        <input type="number" id="weight-goal" name="weightGoal" ngModel />
      </div>

      <div class="form-control">
        <label for="weight-multiplier" class="label">Weight Multiplier</label>
        <input type="number" id="weight-multiplier" name="weightMultiplier" ngModel required />
      </div>

      <button class="submit-btn">
        <img src="../assets/images/calculate-white-24dp.svg" alt="" id="calculate-img" /> 
        <span>Calculate</span>
      </button>
    </form>
  </section>
  <section class="result-section" *ngIf="(calories && caloriesInGrams)">
    <h2>Calories</h2>
    <div  class="result-flex-container">
      <div class="macro-nutrient-card">
        <label class="macro-nutrient-label">Protein </label> 
        <span class="macro-nutrient-value">{{calories.Protein}}</span>
      </div>
      <div class="macro-nutrient-card">
        <label class="macro-nutrient-label">Carb </label> 
        <span class="macro-nutrient-value">{{calories.Carb}}</span>
      </div>
      <div class="macro-nutrient-card">
        <label class="macro-nutrient-label">Fat </label> 
        <span class="macro-nutrient-value">{{calories.Fat}}</span>
      </div>
      <div class="macro-nutrient-card">
        <label class="macro-nutrient-label">Total </label> 
        <span class="macro-nutrient-value">{{calories.Total}}</span>
      </div>
    </div>

    <h2>Macronutrients By Weight</h2>
    <div class="result-flex-container">
      <div class="macro-nutrient-card">
        <label class="macro-nutrient-label">Protein </label> 
        <span class="macro-nutrient-value">{{caloriesInGrams.Protein}} g</span>
      </div>
      <div class="macro-nutrient-card">
        <label class="macro-nutrient-label">Carb </label> 
        <span class="macro-nutrient-value">{{caloriesInGrams.Carb}} g</span>
      </div>
      <div class="macro-nutrient-card">
        <label class="macro-nutrient-label">Fat </label> 
        <span class="macro-nutrient-value">{{caloriesInGrams.Fat}} g</span>
      </div>
      <div class="macro-nutrient-card">
        <label class="macro-nutrient-label">Total </label> 
        <span class="macro-nutrient-value">N/A</span>
      </div>
    </div>
  </section>
</div>