<div class="wrapper">
  <section class="user-information">
    <h2>User Information</h2>
    <form #userDataForm="ngForm" (ngSubmit) = "calculateMacros(userDataForm)" class="user-form">
      <div class="form-control">
        <label for="weight" class="required">Weight</label>
        <div class="weight-units">
          <input required type="number" id="weight" name="weight" pattern="^[+]?\d+([.]\d+)?$" ngModel/>
          <div class="radio-toolbar">
            <input id="weight-lb" type="radio" name="weightUnits" value="lb" ngModel />
            <label for="weight-lb">lb</label>
            <input id="weight-kg" type="radio" name="weightUnits" value="kg" ngModel />
            <label for="weight-kg">kg</label>
          </div>
        </div>
      </div>

      <div class="form-control">
        <label for="time-frame" class="required">Time Frame</label>
        <input type="date" id="time-frame" name="timeFrame" ngModel required />
      </div>

      <div class="form-control">
        <label for="weight-goal" class="required">Goal</label>
        <div class=weight-units>
          <input type="number" id="weight-goal" name="weightGoal" pattern="^[+]?\d+([.]\d+)?$" ngModel required />
          <div class="radio-toolbar">
            <input id="goalWeight-lb" type="radio" name="goalWeightUnits" value="lb" ngModel />
            <label for="goalWeight-lb">lb</label>
            <input id="goalWeight-kg" type="radio" name="goalWeightUnits" value="kg" ngModel />
            <label for="goalWeight-kg">kg</label>
          </div>
        </div>
      </div>

      <div class="form-control">
        <label for="weight-multiplier" class="required">Lifestyle</label>
        <select name="weightMultiplier" ngModel required>
          <option *ngFor="let lifestyle of lifestyleOptions" [value]="lifestyle.Multiplier">
            {{lifestyle.Name}}
          </option>
        </select>
      </div>

      <button class="submit-btn">
        <img src="../assets/images/calculate-white-24dp.svg" alt="" id="calculate-img" /> 
        <span>Calculate</span>
      </button>
    </form>
  </section>
  <section class="result-section" *ngIf="(calories && caloriesInGrams)">
    <div class="warning-block" *ngIf="warningMessage.message">
      <img src="../assets/images/warning-24px.svg" alt="Warning" class="warning-icon">
      <span class="warning-message">
        WARNING: {{warningMessage.message}}
      </span>
    </div>
    <h2>Calories</h2>
    <div  class="result-flex-container">
      <div class="macro-nutrient-card">
        <label class="macro-nutrient-label">Protein </label> 
        <span class="macro-nutrient-value">{{calories.Protein | number: '1.0-1'}}</span>
      </div>
      <div class="macro-nutrient-card">
        <label class="macro-nutrient-label">Carb </label> 
        <span class="macro-nutrient-value">{{calories.Carb | number: '1.0-1'}}</span>
      </div>
      <div class="macro-nutrient-card">
        <label class="macro-nutrient-label">Fat </label> 
        <span class="macro-nutrient-value">{{calories.Fat | number: '1.0-1'}}</span>
      </div>
      <div class="macro-nutrient-card">
        <label class="macro-nutrient-label">Total </label> 
        <span class="macro-nutrient-value">{{calories.Total | number: '1.0-1'}}</span>
      </div>
    </div>

    <h2>Macronutrients By Weight</h2>
    <div class="result-flex-container">
      <div class="macro-nutrient-card">
        <label class="macro-nutrient-label">Protein </label> 
        <span class="macro-nutrient-value">{{caloriesInGrams.Protein | number: '1.0-0'}} g</span>
      </div>
      <div class="macro-nutrient-card">
        <label class="macro-nutrient-label">Carb </label> 
        <span class="macro-nutrient-value">{{caloriesInGrams.Carb | number: '1.0-0'}} g</span>
      </div>
      <div class="macro-nutrient-card">
        <label class="macro-nutrient-label">Fat </label> 
        <span class="macro-nutrient-value">{{caloriesInGrams.Fat | number: '1.0-0'}} g</span>
      </div>
      <div class="macro-nutrient-card">
        <label class="macro-nutrient-label">Total </label> 
        <span class="macro-nutrient-value">N/A</span>
      </div>
    </div>
  </section>
</div>